* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2c3e50;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body a.btn {
  color: #ecf0f1;
  text-decoration: none;
  width: 200px;
  height: 40px;
  background-color: #e74c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  letter-spacing: 0.5em;
  transform: skewX(15deg) rotate(-15deg);
}
body a.btn::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: black;
  position: absolute;
  left: -10px;
  transform: skewY(-45deg) translate(0, 5px);
}
body a.btn::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: black;
  position: absolute;
  bottom: -10px;
  transform: skewX(-45deg) translate(-5px, 0);
}
