body header {
  border-bottom: solid 5px #16a085;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
body header div.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
}
body header div.navbar a.logo {
  color: #16a085;
  font-weight: bold;
  font-size: 1.3rem;
  margin-right: 20px;
}
body header div.navbar a.logo + label {
  display: none;
}
body header div.navbar a.logo + label + input {
  display: none;
}
body header div.navbar div.collapse {
  display: flex;
  flex-grow: 1;
}
body header div.navbar div.collapse ul.links {
  display: flex;
  margin-right: auto;
}
body header div.navbar div.collapse ul.links li {
  margin: 0 10px;
}
body header div.navbar div.collapse ul.links li a {
  color: #777;
}
body header div.navbar div.collapse ul.links li a:hover {
  color: #333;
  font-weight: bold;
}
body header div.navbar div.form a {
  border: solid 1px #16a085;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
}
body header div.navbar div.form a.form-bg {
  background-color: #16a085;
  color: white;
}
@media only screen and (max-width: 960px) {
  body header div.navbar {
    flex-direction: row;
    flex-wrap: wrap;
  }
  body header div.navbar a.logo {
    margin-right: auto;
  }
  body header div.navbar a.logo + label {
    display: grid;
    place-items: center;
    border: solid 1px #999;
    padding: 0.5rem 1rem;
    color: #555;
    cursor: pointer;
  }
  body header div.navbar a.logo + label + input:checked + div.collapse {
    display: block;
  }
  body header div.navbar div.collapse {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  body header div.navbar div.collapse ul.links {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  body header div.navbar div.collapse ul.links li {
    margin: 0.5rem 0;
  }
}
