* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}


body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    main {
        
        width: 600px;
        height: 600px;
        border: solid 2px black;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        // perspective: 900px;
        transition: 1s;
        transform: perspective(900px) rotateY(30deg);
        transform-origin: left;
        transform-style: preserve-3d;

        &:hover {
            transform: perspective(900px) rotateY(30deg) rotateX(45deg);
        }
        

        div {
            width: 100px;
            height: 100px;
            margin-right: 20px;
        }

        div:nth-of-type(1) {
            border: solid 10px brown;
            transform: rotateY(30deg);
        }

        div:nth-of-type(2) {
            border: solid 10px blue;
            transform: rotateY(60deg);
        }

        div:nth-of-type(3) {
            border: solid 10px darkorange;
            transform: rotateY(90deg);
        }

        div:nth-of-type(4) {
            border: solid 10px blueviolet;
            transform: rotateY(120deg);
        }
    }

    // main::before {
    //     content: "AmosChenYQ";
    //     width: 200px;
    //     height: 200px;
    //     border: solid 2px blue;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    // }

    // main::after {
    //     content: "CHENYINGQIN";
    //     width: 200px;
    //     height: 200px;
    //     border: solid 2px red;
    //     // position: absolute;
    // }
}