* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: #2c3e50;
}
body main {
  width: 400px;
  height: 200px;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  position: relative;
}
body main section {
  width: 1600px;
  height: 200px;
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
  animation-name: slide;
  animation-duration: 4s;
  animation-timing-function: steps(4, end);
  animation-iteration-count: infinite;
}
body main section div {
  overflow: hidden;
}
body main section div img {
  width: 100%;
}
body main section:hover,
body main section:hover + ul::after {
  animation-play-state: paused;
}
body main ul {
  width: 200px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: grid;
  grid-template: 1fr/repeat(4, 1fr);
  list-style: none;
  justify-items: center;
}
body main ul li {
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}
body main ul::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: black;
  opacity: 0.5;
  animation-name: num;
  animation-duration: 4s;
  animation-timing-function: steps(4, end);
  animation-iteration-count: infinite;
}
@keyframes slide {
  to {
    transform: translateX(-1600px);
  }
}
@keyframes num {
  to {
    transform: translateX(200px);
  }
}
